@import "./globals";

/*
 * Required
 */
body, html {
  height: 100%;
  width: 100%;
}

body {
  overflow: auto;
}

// .playground-container {
//   background-color: #08141B;
//   bottom: 0;
//   height: 100%;
//   left: 0;
//   margin: 0;
//   overflow: hidden;
//   padding: 0;
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 100%;
//   z-index: 1000;
// }

.apollo-provider {
  height: 100%;
  width: 100%;
}

.app-container {
  background-color: #ECEEF1;
  display: flex;
  font-size: $font-size;
  font-family: $font-stack;
  height: 100%;
  justify-content: center;
  overflow: scroll;
}

