@import "./globals";

.button-group {
  display: inline-flex;

  button {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

%button-shared {
  border: none;
  cursor: pointer;
  outline: none;
}

.api-button {
  @extend %button-shared;

  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
  color: $royalFuchsia;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 8px;
  position: relative;
  top: -1px;
}

.downvote-button {
  @extend %button-shared;

  svg {
    transform: rotate(180deg);

    path {
      fill: $gullGrey;
    }
  }
}

.upvote-button {
  @extend %button-shared;

  svg>path {
    fill: $gullGrey;
  }
}

%ui-button-shared {
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  padding: 8px 14px;
}

%ui-text-button-shared {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: $font-size;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-weight: 500;
  letter-spacing: -0.02em;

  &:hover {
    color: white;
  }
}

/**
 * Header
 */
.login-button,
.logout-button {
  @extend %ui-text-button-shared;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-weight: 500;
  letter-spacing: -0.02em;
  margin-right: 1.5em;

  &:hover {
    color: white;
  }
}

/**
 * Login Form
 */
.login-hero-button {
  @extend %ui-button-shared;
  background-color: #3275D6;
  padding: 10px 18px 11px;
  font-size: 14px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}

.pointer-button {
  background-color: transparent;
  border: none;
  color: $gullGrey;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  margin: 0;
  padding: 0;
}

/**
 * Link
 */
.admin-delete-button {
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  margin: 0;

  &:hover {
    color: #E1433A;
  }
}

/**
 * Comment Form
 */
.comment-button {
  @extend %ui-button-shared;
  background-color: #3275D6;
  letter-spacing: -0.02em;
  padding: 10px 18px 11px;
  font-size: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);

  &:hover {
    background-color: #176ABB;
  }
}

/**
 * Modal
 */
.modal-action-button {
  @extend %ui-button-shared;
  border: none;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.02em;
  margin-left: 0 !important;
  margin-right: 8px !important;
  padding: 10px 18px 11px !important;
  min-width: 120px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);

  &.destroy {
    background-color: #E1433A;

    &:hover {
      background-color: rgb(197, 56, 48);
    }
  }

  &.cancel {
    background-color: $gullGrey;
  }

  .fa-icon {
    margin-right: 8px;
  }
}

.modal-close-button {
  @extend %ui-text-button-shared;
  color: #000000;
  padding: 16px;
  margin-right: 8px;

  &:hover {
    color: #3275D6;
  }
}

.banner-close-button {
  @extend %ui-text-button-shared;
  color: #ffffff;

  &:hover {
    color: #3275D6;
  }
}

.pagination-button {
  background: transparent;
  border: none;
  outline: none;

  a {
    color: inherit;
    text-decoration: none;
    display: block;
  }

  &:hover {
    color: #176ABB;
  }

  &.disabled {
    color: $gullGrey;

    &:hover {
        color: $gullGrey;
    }
  }
}
