@import "./globals";

.header-wrapper {
  width: 100%;
}

.header {
  @extend %flex-base-justify-center;
  background-color: $royalFuchsia;
  padding: 1em 0;
  width: 100%;
  z-index: 10;
}

.header-content {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2em;
}

.header-nav {
  margin-left: 1.5em;

  li {
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin-right: 1.5em;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: white;
    }
  }
}

.search-wrapper {
  position: relative;
}

.search-icon {
  color: $gullGrey;
  left: 6px;
  position: absolute;
  top: 6px;
}

.search-bar-icon {
  color: $gullGrey;
}

.search-text {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  color: $pickledBluewood;
  font-size: 13px;
  font-weight: normal;
  outline: none;
  padding: 5px 5px 5px 25px;
  vertical-align: middle;
  width: 190px;

  &::placeholder {
    color: $gullGrey;
    opacity: 1;
  }
}

.header-avatar {
  border: 2px solid white;
  border-radius: 50%;
}

.nav-link {
  text-decoration: none;
  color: inherit;

  &.active {
    color: white;
    font-weight: 700;
  }
}

.filter-bar-wrapper {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  background-color: #ffffff;
}

.popup-wrapper {
  position: relative;
}

.sort-label {
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $gullGrey;
  margin-top: 1px;
  display: inline-flex;
}

.sort-button {
  align-items: center;
  background-color: rgba(50, 118, 214, 0.1);
  border-radius: 4px;
  border: none;
  color: #3275D6;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.5px;
  margin: 0 4px;
  outline: none;
  padding: 6px 8px;
  text-transform: uppercase;

  .fa-icon {
    font-size: 14px;
    margin-right: 4px;
  }
}

