@import "./globals";

.header-wrapper {
  width: 100%;
}

.header {
  @extend %flex-base-justify-center;
  background-color: $royalFuchsia;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-content {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2em;
}

.header-nav {
  margin-left: 1.5em;

  li {
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin-right: 1.5em;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: white;
    }
  }
}

.search-wrapper {
  position: relative;
}

.search-icon {
  color: $gullGrey;
  left: 6px;
  position: absolute;
  top: 6px;
}

.search-text {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  color: $gullGrey;
  font-size: 13px;
  font-weight: normal;
  outline: none;
  padding: 5px 5px 5px 25px;
  vertical-align: middle;
  width: 190px;

  &::placeholder {
    color: $gullGrey;
    opacity: 1;
  }
}

.header-avatar {
  border: 2px solid white;
  border-radius: 50%;
}

.nav-link {
  text-decoration: none;
  color: inherit;

  &.active {
    color: white;
    font-weight: 700;
  }
}

.submit-form-wrapper {
  position: absolute;
  top: 62px;
  font-size: $font-size;
  background-color: white;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,.05);
}

.submit-form-content {
  width: 800px;

  input {
    border: none;
    color: $pickledBluewood;
    font-size: $font-size;
    outline: none;
    width: 100%;
    padding: 1.2em 0;

    &::placeholder {
      color: $gullGrey;
    }
  }

  form {
    width: 100%;
  }

  span {
    color: $gullGrey;
    font-size: 12px;
    text-align: right;
    width: 165px;

    code {
      border: 1px solid $solitude;
      background-color: #F9FBFB;
      border-radius: 4px;
      color: $gullGrey;
      font-family: 'Menlo', 'Courier New', Courier, monospace;
      font-size: 10px;
      padding: 2px 4px;
    }
  }
}

.submit-enter {
  position: absolute;
  top: 0;
}
.submit-enter.submit-enter-active {
  transition: all 300ms ease-out;
  top: 60px;
}
.submit-exit {
  position: absolute;
  top: 60px;
}
.submit-exit.submit-exit-active {
  transition: all 300ms ease-out;
  top: 0;
}
