@import "./globals";

.modal-content-wrapper {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}

.modal-container {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, .3);
  left: 50%;
  min-width: 360px;
  position: fixed;
  top: 10%;
  transform: translateX(-50%);
  // max-width: 500px;

  .modal-text {
    line-height: 22px;
    margin: 16px 24px;

    strong {
      font-weight: 700;
    }
  }
}

.modal-header {
  display: flex;
  align-items: center;
  border-radius: 4px 4px 0 0;
  background-color: $solitude;
  text-align: left;
  width: 100%;
  font-size: 14px;

  h2 {
    color: #000;
    letter-spacing: -0.04;
    margin-left: 24px;
    font-weight: 500;
  }
}

.modal-content {
  color: #000000;
  align-items: center;
  display: flex;
  flex-direction: column;

  .submit-form-action-area {
    margin-top: 16px;
  }

  .button-group {
    margin-bottom: 16px;
  }

  .validation-error {
    background-color: rgba(225, 67, 58, .1);
    border: 1px solid rgb(226, 169, 170);
    border-radius: 2px;
    margin: 8px 12px 12px;

    p {
      color: rgb(189, 83, 85);
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 0;
      padding: 4px 8px;
    }
  }
}

.modal-overlay {
  background-color: rgba(0, 0, 0, .4);
  height: 100%;
  width: 100%;
}

.submit-form-wrapper {
  font-size: $font-size;
  width: 100%;
}

.submit-form-content {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 12px;

  input {
    border-radius: 4px;
    border: 1px solid $solitude;
    color: $pickledBluewood;
    font-size: $font-size;
    outline: none;
    height: 48px;
    padding: 0 12px;

    &::placeholder {
      color: $gullGrey;
    }

    &[type="text"] {
      height: 46px; // match button height
      margin: 0 16px 0 0;
      width: 400px;
    }

    &[type="submit"] {
      @extend %ui-button-shared;
      background-color: #3275D6;
      letter-spacing: -0.02em;
      font-size: 12px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
      width: 120px;

      &.submit-button-active {
        background-color: #3275D6;
      }

      &.submit-button-disabled {
        background-color: $gullGrey;
      }
    }
  }

  form {
    width: 100%;
  }
}

.submit-form-action-area {
  margin: 0 16px 16px 16px;

  button {
    margin-right: 8px;
  }
}

.instructions {
  color: $gullGrey;
  font-size: 16px;
  text-align: right;
  width: 165px;

  code {
    border: 1px solid $solitude;
    background-color: #F9FBFB;
    border-radius: 4px;
    color: $gullGrey;
    font-family: 'Menlo', 'Courier New', Courier, monospace;
    font-size: 10px;
    padding: 2px 4px;
  }
}

.warning {
  display: flex;
  background-color: #FFFADE;
  align-items: center;
  padding: 16px 24px;
  color: #735c0f;
  border-top: 1px solid #DDDAC2;
  border-bottom: 1px solid #DDDAC2;
  text-align: left;
  width: calc(100% - 48px);

  p {
    margin: 0;
    padding: 0;
  }
}

.modal-enter {
  transform: translateY(-10%);
}
.modal-enter-active {
  transform: translateY(0%);
  transition: all 300ms ease-out;
}
.modal-exit {
  transform: translateY(0%);
}
.modal-exit-active {
  transform: translateY(-10%);
  transition: all 300ms ease-out;
}